*{box-sizing: border-box;}
a.recipe {
    color: rgb(156, 255, 46);
    padding: 0px;
    display: inline-block;
}

a {
    padding: 24px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(253, 255, 0);
    border-bottom: 2px solid black;
    border-radius: 12px;
}

main {
    padding: 24px;
}

footer {
    padding: 20px;
    background-color: rgb(33, 146, 255);
    color: snow;
    border-radius: 12px;
    border-top: 2px solid black;
}

nav {
    border-bottom: 1px, black, solid;
    padding: 16px;
}

.gridified {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
}

.colours tr:nth-child(even) {
    background: rgb(236, 236, 236);
}

h1 {
    color: rgb(56, 229, 77);
}
